.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: rgb(15, 138, 220);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 0 auto;
}

.login-btn {
  padding: 5px 10px;
  background: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
